
/**{
    box-sizing: border-box;
    } */

#rows{
    width: 6em;
    height: 1em;
}


#column{
width: 6em;
height: 1em;

margin: 0;
}
#fonts{
    width: 6em;
    height: 1em; 
}
#pixels{
    width: 6em;
    height: 1em; 
}


#border{
    width: 6em;
height: 1em;
margin: 0px;
}

#bodybackgroundColor{
    margin-top: 2%;
}

#width{
    width: 6em;
    height: 1em;
    
}
#tableWidth{
    width: 6em;
    height: 1em;
}

#tableHeader{
    text-align: center;
justify-content: center;
}

#input{
    display: flex;
    flex-direction: column;
    width: 80%;
    color: antiquewhite;
    font-size: 12px;
    background-color:green;
    height: 180px;
    margin: 0 auto;
}

#smallDiv{
    display: flex;
    justify-content: center;
    width: 59%;
    text-align: center;
    margin: auto;
}

#div1{
margin-left: 20px;
}

#div2{
    margin-left: 20px;
}
p{
    text-align: center;
}




#div3{
    
    display: flex;
    justify-content: center;
    margin-top: -1px;
    text-align: center;
    }

    #divColors{
        margin:auto;
    }

    #colors2{
        margin: auto;
    }



#wrapperId{
/*border: 1px solid black;
/*background-color: blue;*/
/*width: 700px;*/
}

table {
    margin: 5px auto;

}