
/**{
    box-sizing: border-box;
    } */

#rows{
    width: 6em;
    height: 1em;
}


#column{
    width: 6em;
    height: 1em;
}


#border{
    width: 6em;
    height: 1em;
}

#width{
    width: 6em;
    height: 1em;
}

#heading{

}

#input{
    display: flex;
    margin-top: 10%;
    border: 1px solid black;
    background-color:green;
    width: 60%;
    color: antiquewhite;
}

#wrapperId{
    border: 1px solid black;
    background-color: blue;
}
